body{
    background-color:#f2f2f2;
    margin:0;
    padding:0;
    font-family:'Old Standard TT', serif;
}


p{text-indent:20px;
    padding:10px;
    text-align:left;
    margin:auto;
    font-size:15px;
    width:60%;
}

/* Intro paragraph */

h1{
    margin-left: 20px;
    margin-bottom:5px;
    text-align:center;
    font-size:50px;
}

/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    transform: translateX(250px);
    overflow-y: auto;
    background: transparent;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    background-color:rgba(220, 220, 220, 0.5);
    list-style: none;
}

a i {
  color:black;
}

.sidebar-nav a i {
  color:#999;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    font-size:20px;
    color: black;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: white;
    font-weight:bold;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: black;
    font-weight:bold;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: white;
    font-weight:bolder;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    font-size:70px;
    text-align:center;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    font-weight:bolder;
    font-size:70px;
    text-align:center;
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

#apple {
  font-family:'Homemade Apple', cursive;
  padding-top:20px;
  padding-bottom:10px;
}

.container {
  width:100%;
  padding:5px;
}

.col-md-4 {
  background-color:pink;
}

.img-responsive {
  width:100%;
}

.holder-vertical {
    position:relative;
    width:50%;
    margin:auto;
    overflow:auto;
}

.holder-horizontal {
    position:relative;
    margin:auto;
    overflow:auto;
}

.image{
    border:solid 5px black;
    filter: grayscale(100%);
    margin:auto;
    width:100%;
}

.image_rotate_left {
  transform:rotate(-15deg);
}

.image_rotate_right {
  transform:rotate(15deg);
}

.image:hover {
    filter:none;
}

.image_horiz {
    border:solid 5px black;
    filter: grayscale(100%);
    text-align:center;
}

.image_horiz:hover {
    filter:none;
}

#signature {
  display:block;
    margin:auto;
}

.horiz_list {
  width: 20%;
    margin: auto;
    overflow:auto;
    padding-top:20px;
    padding-bottom:20px;

}

.horiz_list a {
  float:left;
  text-align:center;
  width:30%;
  margin:30;
  
}

.horiz_list a i {
  background: teal;
  color: #fff;
  width: 40px;
  height: 30px;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  margin-right: 10px;
  padding-top:5px;

}

/* B&W/Color Overlays */

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .4s ease;
}

.holder-vertical:hover .overlay {
  opacity: 1;
}

.holder-horizontal:hover .overlay {
  opacity: 1;
}

.holder-vertical:hover .image {
    -webkit-filter: grayscale(0%);
    filter:none;
}

.holder-horizontal:hover .image {
    -webkit-filter: grayscale(0%);
    filter:none;
}

.text {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* Spotify Styling*/

#spotify_lists {
  list-style-type: none;
    margin-left: 10%;
    margin-right:10%;
    overflow: hidden;
    size:50px;
}

.spotify .text2{
  color: white;
  font-size: 25px;
  margin:auto;
  text-align:center;
  word-wrap: normal;
  display:block;
}

.spotify {
  display:block;
  float:left;
  margin-left:10px;
  margin-right:10px;
}

#success_message{ display: none;}

/* Blog Styling*/

#wrapper{
  width:1024px; 
  margin:0 auto;
}
#header h1{
  text-align: center;
}
  nav.navigation {
    display: block;
    margin-bottom: 10px;
}
nav.navigation  ul {
    list-style: none;
    font-size: 14px; 
    text-align: center;
}
nav.navigation  ul li {
    display: inline-block;
}
nav.navigation  ul li a {
    display: block;
    float: left;
    padding: 3px 6px;
    color: #575c7d;
    font-size:22px;
    text-decoration: none;
    font-weight: bold;
}
nav.navigation  ul li a:hover {
    background: #ccc;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 3px 6px;
    margin: 0;
    text-decoration: none;
}

/* page Content */
#content {
display: block;
clear: both;
margin-bottom: 20px;
min-height: 500px;
}

#left-sidebar {
width: 35%;
float: left;
margin: 0 15px;
background: #ccc; 
min-height: 500px; 
text-align: center;
}
#right {
float: right;
width: 62%;
background: #efefef; 
text-align: center;
min-height: 500px;
}
footer{text-align: center;}
/* clearfix */
.clearfix:after {
content: “.”;
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}
.clearfix {
display: inline-block;
}

html[xmlns] .clearfix {
display: block;
}
* html .clearfix {
height: 1%;
}
